
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" type="text/css" href = "css/site.css">
</head>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container" style="display: flex; flex-direction: row" >
    <div>
        <canvas id="marksChart"></canvas>
    </div>

    <div style="width: 150px; height: 150px">

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
<script>
    var radarChart;
</script>
<script language=javascript type="text/javascript">

function radialChart(){
  $.ajax(
    {
        type: "GET",
        url: '/getstring',
        success: function (response) {
            printChart(response);
            //updateChart();
    }
    });
    }
</script>
<script>
    radialChart();
</script>
<script>
    function printChart(_lb)
    {
        var marksCanvas = document.getElementById("marksChart");
        var data1 = _lb[1].map(function(item) {
        return parseInt(item, 10);
        });
        alert(data1);
        var data2 = _lb[2].map(function(item) {
        return parseInt(item, 10);
        });
        var marksData = {
        labels: _lb[0],
        datasets: [{
            label: "January",
            backgroundColor: "rgba(200,0,0,0.2)",
            data: data1
        }]
        };

        radarChart = new Chart(marksCanvas, {
        type: 'radar',
        data: marksData
        });

        
    }
</script>

<script>
    function updateChart(){
        for(i = 0; i < 8; i++){
            radarChart.data.datasets[0].data[i] += 5;
        }
        radarChart.update();
    }
</script>
<script>
    function setMark()
    {
       $.ajax(
        {
        type: "POST",
        url: '/setmark/' + 4,
        success: function(response)
        {
            alert(response);
        }
    }); 
    }
    
</script>

<script type="text/javascript">
        $(document).ready(function () {

            $('#butt').click(function () {
                $.ajax(
                {
                type: "POST",
                url: '/setmark/' + 4,
                success: function(response)
                {
                    
                    updateChart();
                }
                }); 
            });
        });
</script>

<fieldset>
     <input type="button" value="Demo 1" id="butt" />
</fieldset>

